# Credit Risk Modelling

In [14]:
import mysql.connector
from mysql.connector import Error

def gettrainingdata():
    try:
        cnx = mysql.connector.connect(user='sql9284623', password='m8QTBgHjDr',
                                      host='sql9.freesqldatabase.com',
                                      database='sql9284623')
        cursor = cnx.cursor()
        query = "SELECT * FROM `CREDIT_DATA`"
        cursor.execute(query)
        fullrow = []
        partrow = []
        for row in cursor:
            fullrow.append(row)
            partrow.append(row[1])
        cursor.close()
        cnx.close()
        finalrow = [fullrow, partrow]
        return finalrow
    except Error as e:
        print("Error while connecting to MySQL database", e)

print(gettrainingdata())

[[(25, 35, 97, 3000, 5, 40, 10, 87), (89, 99, 56, 0, 1, 73, 3, 62), (42, 56, 74, 5000, 8, 57, 10, 55)], [35, 99, 56]]

In [56]:
# Defining tools 

import xgboost as xgboost
import pandas as pd
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

from xgboost import XGBRegressor
from sklearn.impute import SimpleImputer

# Loading data

accepted_data_path = "accepted_2007_to_2018Q3.csv"

accepted_data = pd.read_csv(accepted_data_path, nrows=20000, engine="python")

features = ["loan_amnt", "int_rate", "emp_length", "home_ownership", "annual_inc",
           "verification_status", "loan_status", "title", "delinq_2yrs", "fico_range_low", "fico_range_high", "mths_since_last_delinq", "mths_since_last_record",
            "pub_rec", "revol_bal", "revol_util", "application_type", "tot_cur_bal", "chargeoff_within_12_mths", "pub_rec_bankruptcies",
           "total_il_high_credit_limit"]

# Features that are not numbers:
# One Hot encoding: home_ownership, verification_status, title,  
# Direct change:
# - emp_length: a years (2 <= a <= 10, 10+ years, <1 year)  ===== done
# - loan_status: only takes Charged Off and Fully Paid  ===== done
# - application_type: deals only with individual   ====== done

# Direct change first:

chosen_data = accepted_data[features]
chosen_data.drop(chosen_data[(chosen_data.loan_status != "Fully Paid") & (chosen_data.loan_status != "Charged Off")].index, inplace = True)
chosen_data.drop(chosen_data[(chosen_data.application_type != "Individual")].index, inplace = True)


chosen_data = chosen_data.drop("application_type", axis = 1)


chosen_data["emp_length"].fillna(0, inplace = True)
emp_length_di = {"< 1 year": 0.5, "1 year": 1, "2 years": 2, "3 years": 3, "4 years": 4, "5 years": 5, "6 years": 6, "7 years": 7,
                "8 years": 8, "9 years": 9, "10+ years": 10}
chosen_data = chosen_data.replace({"emp_length": emp_length_di})

# One hot encoding:

X = chosen_data.drop("loan_status", axis = 1)

final_y = chosen_data.loan_status

final_X = pd.get_dummies(X)
# chosen_data.to_csv("updated.csv")

,loan_amnt,int_rate,emp_length,annual_inc,delinq_2yrs,fico_range_low,fico_range_high,mths_since_last_delinq,mths_since_last_record,pub_rec,...,title_Credit card refinancing,title_Debt consolidation,title_Green loan,title_Home buying,title_Home improvement,title_Major purchase,title_Medical expenses,title_Moving and relocation,title_Other,title_Vacation
2,12000.0,16.99,0.0,30000.0,0.0,665.0,669.0,NaN,72.0,3.0,...,1,0,0,0,0,0,0,0,0,0
7,25900.0,25.49,10.0,54000.0,0.0,685.0,689.0,56.0,NaN,0.0,...,1,0,0,0,0,0,0,0,0,0
9,8000.0,7.99,10.0,57000.0,3.0,680.0,684.0,7.0,NaN,0.0,...,1,0,0,0,0,0,0,0,0,0
12,13000.0,5.32,10.0,101800.0,0.0,720.0,724.0,NaN,79.0,3.0,...,1,0,0,0,0,0,0,0,0,0
16,5000.0,11.44,10.0,60000.0,0.0,665.0,669.0,NaN,NaN,0.0,...,1,0,0,0,0,0,0,0,0,0
17,25000.0,28.69,10.0,83807.4,0.0,690.0,694.0,39.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
19,4500.0,12.74,6.0,32000.0,0.0,660.0,664.0,NaN,NaN,0.0,...,1,0,0,0,0,0,0,0,0,0
22,11100.0,5.32,3.0,60000.0,0.0,725.0,729.0,NaN,NaN,0.0,...,1,0,0,0,0,0,0,0,0,0
23,12000.0,14.99,10.0,68000.0,0.0,670.0,674.0,26.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
25,20000.0,14.99,2.0,59200.0,1.0,660.0,664.0,0.0,NaN,0.0,...,0,0,0,0,0,1,0,0,0,0
27,10000.0,8.24,9.0,40000.0,0.0,735.0,739.0,NaN,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
28,23000.0,22.74,10.0,80000.0,0.0,690.0,694.0,33.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
29,3500.0,7.99,8.0,145000.0,7.0,695.0,699.0,11.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
32,12000.0,12.74,3.0,122496.0,1.0,725.0,729.0,19.0,NaN,0.0,...,0,0,0,0,0,0,0,0,1,0
33,16000.0,11.49,6.0,58000.0,0.0,680.0,684.0,NaN,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
36,10000.0,12.74,10.0,75000.0,5.0,660.0,664.0,10.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
38,2000.0,6.99,7.0,60000.0,0.0,770.0,774.0,NaN,NaN,0.0,...,0,0,0,0,0,0,1,0,0,0
40,28000.0,18.99,10.0,140000.0,0.0,705.0,709.0,NaN,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
42,16000.0,13.99,10.0,59000.0,0.0,735.0,739.0,NaN,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
45,4000.0,11.44,0.5,42000.0,0.0,700.0,704.0,25.0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
47,2000.0,7.49,6.0,42000.0,0.0,780.0,784.0,NaN,NaN,0.0,...,1,0,0,0,0,0,0,0,0,0
49,10000.0,10.49,10.0,99000.0,0.0,690.0,694.0,44.0,NaN,0.0,...,1,0,0,0,0,0,0,0,0,0
50,21000.0,11.39,3.0,108000.0,1.0,700.0,704.0,10.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
51,20000.0,11.49,10.0,70000.0,0.0,715.0,719.0,64.0,105.0,1.0,...,1,0,0,0,0,0,0,0,0,0
52,12000.0,18.99,10.0,77000.0,0.0,665.0,669.0,52.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
53,7175.0,13.49,10.0,65000.0,0.0,665.0,669.0,59.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
56,12000.0,13.99,3.0,205000.0,0.0,660.0,664.0,43.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
64,6050.0,22.74,5.0,26000.0,0.0,685.0,689.0,NaN,83.0,1.0,...,0,1,0,0,0,0,0,0,0,0
65,21000.0,13.99,10.0,70000.0,0.0,685.0,689.0,45.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
66,9600.0,13.99,5.0,52000.0,0.0,685.0,689.0,74.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19945,16000.0,8.24,10.0,60000.0,0.0,685.0,689.0,NaN,NaN,0.0,...,1,0,0,0,0,0,0,0,0,0
19946,20000.0,5.32,3.0,85000.0,1.0,695.0,699.0,13.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
19947,1500.0,11.49,9.0,72000.0,0.0,705.0,709.0,32.0,42.0,1.0,...,0,0,0,0,1,0,0,0,0,0
19948,35000.0,14.99,10.0,105000.0,0.0,685.0,689.0,NaN,111.0,1.0,...,0,0,0,0,1,0,0,0,0,0
19951,13475.0,24.74,10.0,77000.0,0.0,695.0,699.0,NaN,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
19952,10800.0,11.49,3.0,90142.0,1.0,700.0,704.0,15.0,NaN,0.0,...,0,0,0,0,0,0,0,0,1,0
19954,10000.0,11.49,5.0,35000.0,0.0,685.0,689.0,NaN,NaN,0.0,...,1,0,0,0,0,0,0,0,0,0
19955,9000.0,10.49,8.0,48000.0,0.0,690.0,694.0,47.0,107.0,1.0,...,1,0,0,0,0,0,0,0,0,0
19956,18000.0,5.32,5.0,116000.0,0.0,785.0,789.0,NaN,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
19957,16000.0,15.99,2.0,186000.0,0.0,695.0,699.0,59.0,64.0,1.0,...,0,1,0,0,0,0,0,0,0,0
19958,3000.0,10.49,10.0,38000.0,0.0,680.0,684.0,75.0,NaN,0.0,...,1,0,0,0,0,0,0,0,0,0
19963,20300.0,18.99,2.0,55000.0,0.0,690.0,694.0,NaN,NaN,0.0,...,1,0,0,0,0,0,0,0,0,0
19969,6000.0,13.49,4.0,36540.0,0.0,675.0,679.0,NaN,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
19970,17000.0,18.99,2.0,75000.0,0.0,680.0,684.0,NaN,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
19973,20000.0,22.74,10.0,52000.0,0.0,670.0,674.0,68.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
19974,17000.0,11.39,3.0,55000.0,0.0,710.0,714.0,NaN,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
19976,13250.0,12.74,10.0,101500.0,0.0,660.0,664.0,NaN,103.0,1.0,...,0,1,0,0,0,0,0,0,0,0
19978,35000.0,30.94,1.0,97000.0,0.0,685.0,689.0,NaN,NaN,0.0,...,0,0,0,0,0,0,0,0,1,0
19979,32300.0,17.99,2.0,124000.0,1.0,690.0,694.0,21.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
19981,10000.0,7.24,10.0,90000.0,0.0,725.0,729.0,NaN,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
19984,19800.0,24.74,3.0,45000.0,0.0,670.0,674.0,NaN,NaN,0.0,...,1,0,0,0,0,0,0,0,0,0
19985,35000.0,23.99,4.0,134751.0,0.0,690.0,694.0,50.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
19987,1500.0,11.49,0.0,35000.0,1.0,680.0,684.0,19.0,NaN,0.0,...,0,0,0,0,0,0,0,0,1,0
19989,25000.0,11.49,2.0,195000.0,0.0,700.0,704.0,44.0,NaN,0.0,...,0,0,0,0,0,0,0,0,1,0
19991,5800.0,19.99,6.0,42000.0,8.0,700.0,704.0,12.0,NaN,0.0,...,0,0,0,0,0,0,0,0,1,0
19994,35000.0,14.99,10.0,285000.0,0.0,675.0,679.0,38.0,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
19996,20000.0,24.74,5.0,75000.0,3.0,690.0,694.0,6.0,NaN,0.0,...,0,0,0,0,0,1,0,0,0,0
19997,24350.0,22.74,4.0,70000.0,0.0,675.0,679.0,NaN,NaN,0.0,...,0,1,0,0,0,0,0,0,0,0
19998,6025.0,15.99,3.0,40000.0,0.0,730.0,734.0,NaN,NaN,0.0,...,0,0,0,0,0,0,0,0,1,0
19999,8400.0,16.99,10.0,72000.0,0.0,665.0,669.0,NaN,97.0,1.0,...,0,0,0,0,0,1,0,0,0,0